*{
    margin: 0;
    padding: 0;
}

.positieX{
    width: 100px;
    height: 50px;
    background-color: red; 
    position: absolute;
    top: 500px;
}

.positieY{
    width: 100px;
    height: 50px;
    background-color: red;
}