body{
    background-color: black;

}

#game-container{
    background-color: white;
    margin-left: 300px;
    margin-top: 130px;
    padding-left: 250px;
    height: 500px;
    width: 800px;
    border: 5px solid red;
}

