<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <i class="fas fa-wifi"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-google-plus-g"></i>
            </nav>
        </header>

        <main>
            <img src="images/logo.png" alt="logo">
        </main>

        <ul>
            <li><i class="fas fa-home"></i><a href="#">Home</a></li>
            <li><i class="fas fa-cogs"></i><a href="#">Features</a></li>
            <li><i class="far fa-copy"></i><a href="#">Pages</a></li>
            <li><i class="fas fa-th"></i><a href="#">Portfolio</a></li>
            <li><i class="fas fa-font"></i><a href="#">Blog</a></li>
            <li><i class="fas fa-comment"></i><a href="#">Contact</a></li>
        </ul>

    </div>
</body>
</html>